/* ====================================
    Content blocks
==================================== */


/* ------------------------------------
    Hero Banner
------------------------------------ */
.hero-banner
    text-align center
    background $c-primary
    color rgba(white, .8)
    padding ($spacing-large * 4) $gutter
    font-size 2em
    line-height 2

    p { margin: 0; }

    .slogal
        font-size 1.5em
        font-weight bold


/* ------------------------------------
    Main content
------------------------------------ */
.site-wrap
    box-shadow 0 0 10px rgba(black, .1)
    min-height 100vh
    position relative
    z-index 2


/* ------------------------------------
    Main content
------------------------------------ */
.article
    background white
    position relative
    padding $spacing-large 0
    text-align center
    color $foreground--light
    box-shadow 0 1px 8px rgba(black, .1)
    margin-bottom $spacing-medium

    h1,h2,h3,h4,h5,h6,p,ul,ol
        max-width $text-width
        margin-left auto
        margin-right auto

    &__content
        center($site-width)

    /* article--short
    ------------------------------------ */

    &--portfolio
        color $background
        background $foreground
        min-height 400px
        height 70vh
        position relative
        overflow hidden

        /*
            cover image
        ------------------------------------ */
        .cover-image
            background center center no-repeat
            background-size cover
            absolute top left
            size 100%
            transition all 60s linear

        &:hover .cover-image
            transform scale(1.6) rotate(-3deg)

        /*
            overlay
        ------------------------------------ */
        .overlay { opacity: 0; }
        &:hover .overlay { opacity: 1; }


.overlay
    absolute top left bottom right
    z-index 2
    size 100%
    transition all $easing
    background rgba(black, .2)
    color white
    text-shadow 0 1 3px rgba(black, .2)

    &__container
        absolute top 50% left 0
        width 100%
        transform translateY(-50%)


.art-block
    background: $foreground
    position relative

    &__background
        absolute top right bottom left
        size 100%

    figure
        max-width $site-width
        display block
        margin 0 auto
        padding $spacing-large 0
        position relative
        z-index 2

    img
        display block
        box-shadow 0 0 5px rgba(black, .2)
