/* ------------------------------------
    Header styling
------------------------------------ */
.main-header
    // edit()

    .site-title
        margin 0

    &__inner
        cf()
        center($site-width)
        padding $spacing-large $gutter
        position relative


.hamburger
    width 30px
    absolute top ($spacing-large + 12px) right $gutter
    span
        display block
        size 100%     3px
        margin-bottom 5px
        background $foreground
        border-radius 30px
        &:last-child { margin-bottom: 0px; }
