/* ------------------------------------
    Header styling
------------------------------------ */
.main-header
    // edit()
    border-bottom 1px solid $primary
    padding $spacing-large $gutter
    margin-bottom $spacing-large

    &__inner
        cf()
        center($site-width)
        padding $spacing-large $gutter

.menu
    cf()
    vertical-align middle
    &-item
        display table
    &-partial
        display table-cell
        vertical-align middle

    &--left { float: left; }
    &--right { float: right; }

/* ------------------------------------
    Site-title
------------------------------------ */
.site-title
    font-size 2em
    font-weight bold
