/* ------------------------------------
    Navigation styling
------------------------------------ */
.navigation
    display table-cell

    ul
        margin 0
    li
        list-style-type none
        display inline-block
    a
        color $foreground
        text-decoration none
        padding 10px

.user
    // Blocks
    &-navigation
        display table-cell
        padding-left $spacing-large

    // Elements
    &__image
        background $background--light
        border-radius 50%
        size(70px)
        display table-cell
        vertical-align middle
        overflow hidden
        img { display: block; }

    &__name
        display table-cell
        vertical-align middle
        padding-left $spacing-medium
        font-size 2em
        font-weight bold
        color $foreground--lighter
