---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ '/assets/css/global.css' | prepend:site.baseurl }}">
</head>
<body>
    <main id="main" class="main-content">
        <div id="primary" class="site-content">{{content}}</div>
    </main>

    <div class="bg-overlay">
        <div class="bg-overlay__inner" style="background-image: url({{ site.posts[0].coverimage | prepend:site.baseurl }});"></div>
    </div>
</body>
</html>
