/* ====================================
    Variables & Colors
==================================== */

// main colors
aqua                    := #7FDBFF
blue                    := #0074D9
navy                    := #001F3F
teal                    := #39CCCC
green                   := #2ECC40
olive                   := #3D9970
lime                    := #01FF70
yellow                  := #FFDC00
orange                  := #FF851B
red                     := #FF4136
fuchsia                 := #F012BE
purple                  := #B10DC9
maroon                  := #85144B
white                   := #ffffff
silver                  := #dddddd
gray                    := #aaaaaa
black                   := #111111

// colors
$c-primary              := #DA3610

$background             := #F6F6F6
$background--light      := #FFF
$background--dark       := #CCC

$foreground             := #222222
$foreground--light      := #444444
$foreground--lighter    := #666
$foreground--dark       := #191818
$foreground--darker     := #000

$c-link                 := $c-primary
$c-link--hover          := darken($c-primary, 20%);

// font
$font-family            := 'Titillium Web', helvetica, arial, 'sans-serif'
$font-size              := 16px

// Sizes
$site-width             := 1170px
$text-width             := 720px
$gutter                 := 10px
$spacing-small          := 8px
$spacing-medium         := 16px
$spacing-large          := 32px

$easing                 := 300ms ease-in-out
$easing-fast            := 300ms ease-in-out
