/* ====================================
    Variables & Colors
==================================== */

// colors
$c-primary = #DA3610

$background             = #F6F6F6
$background--light      = #FFF
$background--dark       = #CCC

$foreground             = #222222
$foreground--light      = #444444
$foreground--lighter    = #666
$foreground--dark       = #191818
$foreground--darker     = #000

// font
$font-family = 'Open Sans', helvetica, arial, 'sans-serif'
$font-size = 16px

// Sizes
$site-width = 1170px
$text-width = 720px
$gutter = 15px
$spacing-small = 8px
$spacing-medium = 16px
$spacing-large = 32px

$easing = 300ms ease-in-out
